footer {
  background: #444;
  padding-top: 40px;
  padding-bottom: 10px;
}

.copy{
  padding-top: 200px;
  font-size: 12px;
}

.contact{
  padding-inline: 120px;
}

#charField{
  padding-bottom: 80px;
}

a {
   outline: none;
}
